
body {
  color: rgb(235, 235, 235);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #5600CD;
  height: 100%;
  text-align: left;
  text-decoration: none;
  margin: 0 !important;
}

.navigation-bar {
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 215px;
  background-color: #5600CD;
  color: white;
  overflow: hidden;
}



.dropdown-wrapper {
  overflow: hidden;
  letter-spacing: 4px;
  padding: 30 15;
}

.dropdown-wrapper:hover {
  color: rgb(212, 182, 255);
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5600CD;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transform: translate(-25%, 0%);
  padding-top: 10px;
}

.dropdown-item a, .dropdown-item {
  color: #5600CD;
}

.dropdown-content-wrapper {
  background-color: white;
}

.dropdown-content-wrapper div {
  padding: 15px;
}

.dropdown-content-wrapper div:hover {
  background-color: rgb(212, 182, 255);
}

.dropdown-wrapper:hover .dropdown-content {
  display: block;
}


/* LANDING PAGE */

.landing-container {
  min-width: 800px;
  width: 100%;
  height: 800px;
  font-size: 20px;
  background-color: #5600CD;
  justify-content: left;
  align-items: left;
  text-decoration: none;
}

.standout {
}

#landing-content {
  width: 90%;
  margin: 0 auto;
}

.inline-link {
  text-decoration: none;
  font-weight: 600;
  color: rgb(223, 202, 252);
}

#landing-content h2 {
  margin-top: 0;
}

.landing-link {
  font-size: 18px;
  text-decoration: none;
  padding: 15px;
  color: #5600CD;
  border: 3px white;
  min-width: 100px;
  margin: 10px 20px;
  background: white;
}

.landing-link a {
  font-family: inherit;
  text-decoration: none;
}

.landing-link:hover {
  background: rgb(224, 200, 255);
}

@keyframes colorLink {
  0% { background-color: rgb(49, 9, 128); }
  50% { background-color: rgb(98, 66, 161); }
	100% { background-color: rgb(49, 9, 128); }
}

@keyframes colorNav {
  0% { background-color: rgb(198, 182, 229); }
  50% { background-color: rgb(222, 209, 248); }
	100% { background-color: rgb(198, 182, 229); }
}

.landing-link-wrapper {
  margin-top: 30px;
  display: flex;
  align-items: left;
  justify-content: left;
  text-decoration: none;
}

.landing-link-wrapper a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: italic;
  font-weight: bold;
  font-family: "Open Sans" sans-serif;
}


#appstore {
  border-radius: 5px;
}

#gplay {
  border-radius: 5px;
  margin-left: 10px;
}


